<% Today = Date.today.strftime("%A, %B %d, %Y")
%>
<h1><%="The date is #{Today}" %></h1>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLO
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLO
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLO
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLO
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
<p>LOLLLOLOLOLOLOLLLOLLLL</p>
